body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Flex', sans-serif;
    background-color: #7dd3fc;
}

input {
    font-family: 'Roboto Flex', sans-serif;
    height: 50px;
    width: 700px;
    font-size: 30px;
    border-right: none;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}

input:focus {
    outline: none;
}

button {
    background-color: white;
    border-left: 0px ;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 85px;
    font-weight: bolder;
    color: azure;
    align-items: center;
}

.title {
    cursor: default;
   text-shadow:
    -1px -1px 0 #38bdf8,  
     1px -1px 0 #38bdf8,
     -1px 1px 0 #38bdf8,
     1px 1px 0 #38bdf8;
}

.news {
    cursor: pointer;
    text-shadow:
    -1px -1px 0 #38bdf8,  
     1px -1px 0 #38bdf8,
     -1px 1px 0 #38bdf8,
     1px 1px 0 #38bdf8;
}

.news:hover {
  color: #38bdf8;  
}

.searchbox {
    display: flex;
    position: relative;
    top: 5px;
    left: 90px;
}

.error {
    font-size: 15px;
    color: red;
    position: relative;
    top: 60px;
    right: 720px;
    opacity: 0;
}

#content {
    display: flex;
    height: 75vh;
    flex-direction: column;
}

.cityname {
    align-self: center;
    font-size: 55px;
    font-weight: 100;
    cursor: default;
    padding-top: 10px;
}

.daygrid {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.daygrid > div {
    min-width: 150px;
    min-height: 450px;
    background-color: #0c4a6e;
    border: 1px solid black;
}

.footer {
    background-color: #0c4a6e;
    color: azure;
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.copyright {
    cursor: default;
    padding-right: 10px;
}
/** github favicon at footer **/
.favicon {
    cursor: pointer;
}

.daybox1,.daybox2,.daybox3,.daybox4,.daybox5 {
    min-height: 300px;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.04em;
    -webkit-text-stroke-color: black;
}

.tempbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.f1,.f2,.f3,.f4,.f5 {
    color: white;
    font-size: 60px;
    font-weight:bold;
   text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
     1px 1px 0 black;
}

.c1,.c2,.c3,.c4,.c5 {
    font-size: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
     1px 1px 0 black;
}

/** weather condition gifs **/
.thunder {
    background: url(./gifs/thunder.gif);
}

.drizzle {
    background: url(./gifs/drizzle.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.rain {
    background: url(./gifs/rain.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.snow {
    background: url(./gifs/snow.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.fog {
    background: url(./gifs/fog.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.tornado {
    background: url(./gifs/tornado.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.ash {
    background: url(./gifs/ash.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.dust {
    background: url(./gifs/dust.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.clear {
    background: url(./gifs/clear.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.cloudy {
    background: url(./gifs/cloudy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
